.btnB {
    border: 0px;
    background-color: white;
  }

.fontTest {
  font-family: 'Orbitron';
  font-size: 22px;
  color: #5C636A;
}

.fontTestB {
  font-family: 'Orbitron';
  font-size: 15px;
}

.linha-vertical {
  height: 30px;/*Altura da linha*/
  border-left: 1px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
  text-align: left;
  color: #5C636A;
}