.btnB {
    border: 0px;
    background-color: white;
  }

.fontTest {
  font-family: 'Orbitron';
  font-size: 22px;
  color: #5C636A;
}

.fontTestB {
  font-family: 'Orbitron';
  font-size: 15px;
}