.btnTeme {
    border: 0px;
    background-color: white;
  }

.fontTime {
  font-family: 'Orbitron';
  font-size: 22px;
  color: #5C636A;
}

.fontButton {
  font-family: 'Orbitron';
  font-size: 15px;
}

.vertical-line {
  height: 30px;
  border-left: 1px solid;
  text-align: left;
  color: #5C636A;
}

button:disabled {
  opacity: 0.5;
}